<header class="border-t-8 border-purple-dark shadow mb-8">
    <div class="container mx-auto">
	<div class="flex items-center justify-between flex-wrap p-6">
	    <div class="site-name">
		<h1 id="logo"><a class="font-semibold text-xl tracking-tight text-grey-darkest" href="/">Lakshmi Narsimhan</a>
	    </div>
	    <div class="block lg:hidden">
		<button class="flex items-center px-3 py-2 border text-grey-darkest border-grey-darkest uppercase">
		    <span>Menu</span>
		</button>
	    </div>
	    <div class="navigation-menu">
		<nav class="text-sm lg:flex-grow">
		    <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-grey-darkest hover:bg-grey-lightest mr-4">
			All Posts
		    </a>
		    <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-grey-darkest hover:bg-grey-lightest mr-4">
			Categories
			<svg class="fill-current text-grey-darkest h-4 w-4 inline-block opacity-50 pt-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
			    <path d="M4.516 7.548c.436-.446 1.043-.481 1.576 0L10 11.295l3.908-3.747c.533-.481 1.141-.446 1.574 0 .436.445.408 1.197 0 1.615-.406.418-4.695 4.502-4.695 4.502a1.095 1.095 0 0 1-1.576 0S4.924 9.581 4.516 9.163c-.409-.418-.436-1.17 0-1.615z"></path>
			</svg>
		    </a>
		    <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-grey-darkest hover:bg-grey-lightest">
			Hire me
		    </a>
		    <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-grey-darkest hover:bg-grey-lightest">
			About
		    </a>
		</nav>
	    </div>
	    <div class="search-form md:mt-6 lg:mt-0 xl:mt-0">
		<form>
		    <div class="md:flex">
			<input class="md:w-2/3 appearance-none border w-full py-1 px-3 mr-3 text-grey-darker" id="search" type="text" placeholder="Search">
			<button class="w-full md:w-1/3 text-sm px-4 py-2 leading-none border text-white bg-purple-dark mt-4 lg:mt-0 font-bold uppercase text-center h-full">Search</button>
		    </div>
		</form>
	    </div>
	</div>
    </div>

    <div class="pb-1 mb-2">
        <div class="container mx-auto">
            <h1 class="blog-title">The Bootstrap Blog</h1>
            <p class="mb-4"><span class="p-2 bg-yellow-light">An example blog template built with Bootstrap.</span></p>
        </div>
    </div>
</header>
