<aside class="md:w-1/4 md:ml-3 px-6">
    <div class="bg-grey-lighter p-3">
	<h4>About</h4>
	<p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
    </div>
    <div class="sidebar-module p-3">
	<h4>Archives</h4>
	<ol class="list-reset">
	    <li><a href="#">March 2014</a></li>
	    <li><a href="#">February 2014</a></li>
	    <li><a href="#">January 2014</a></li>
	    <li><a href="#">December 2013</a></li>
	    <li><a href="#">November 2013</a></li>
	    <li><a href="#">October 2013</a></li>
	    <li><a href="#">September 2013</a></li>
	    <li><a href="#">August 2013</a></li>
	    <li><a href="#">July 2013</a></li>
	    <li><a href="#">June 2013</a></li>
	    <li><a href="#">May 2013</a></li>
	    <li><a href="#">April 2013</a></li>
	</ol>
    </div>
    <div class="sidebar-module p-3">
	<h4>Elsewhere</h4>
	<ol class="list-reset">
	    <li><a href="#">GitHub</a></li>
	    <li><a href="#">Twitter</a></li>
	    <li><a href="#">Facebook</a></li>
	</ol>
    </div>
</aside><!-- /.blog-sidebar -->
