<!-- wrapper -->
<section class="my-6 font-sans leading-normal flex">

    <!-- card container -->
    <div class="my-4 md:flex shadow">
	<div class="md:w-1/4 p-3">
	    <img src="https://lakshminp.com/sites/default/files/styles/promo/public/drupal-8-module-development.jpg?itok=g91y9n5D" class="w-full">
	</div>
	
	<!-- card-content -->
	<div class="md:w-3/4 px-6 py-4">
	    <h2 class="mb-2 font-black">Hello Tailwind!</h2>
	    <p class="mb-4 text-grey-dark text-sm">
		Learning Tailwind is incredibly easy. The team has done a wonderful job with the documentation. This is pretty amazing, I must say.
	    </p>
	    <input class="appearance-none border w-full py-2 px-3 mr-3 text-grey-darker" id="search" type="text" placeholder="Email Address">
	    <!-- button -->
	    <button class="py-3 px-6 bg-green text-white font-bold mt-1 mb-2 uppercase w-full">
		Subscribe
	    </button>	
	</div>
    </div>    
</section>
