<!DOCTYPE html>
<html lang="en">
    <head>
	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	
	<title> Tailwind Starter :: {{title}}</title>
	<link rel="stylesheet" href="{{root}}css/styles.css">
    </head>
    <body class="font-sans leading-normal text-grey-darkest">
	{{> header}}
	{{> body}}
	{{> footer }}
    </body>  
</html>
